// @import '../UpsertMangaForm/UpsertMangaForm.module.scss';
@import '../../styles/variables.scss';

.wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    width: 3rem;
    height: 3rem;
    border: 1px solid $dark-color;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  margin-right: 1rem;

  input {
    border: 1px solid $dark-color;
    border-radius: 0.2rem;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    outline: none;
  }
}

.off {
  color: $dark-color;
  background-color: $light-text;
}

.on {
  color: $light-text;
  background-color: $dark-color;
}

.add {
  color: $dark-color;
  background-color: $light-text;

  &:hover {
    color: $light-text;
    background-color: $dark-color;
  }
}

.buttons {
  display: flex;
  gap: 1rem;
}
