@import '../../styles/variables.scss';

.container {
  background-color: $dark-color;
  min-height: 4rem;
  color: $light-text;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
}
